img {
    width: 100%;


}

body{
    margin:auto;
    width:70%;
    max-width: 700px;

}
body h1{
text-align: center;
margin-bottom: 70px;
margin-top: 20px;

}

*{font-family: 'DM Serif Text', serif;}